---
import Layout from "../../layouts/Default.astro";
---

<html lang="en">
  <Layout title="Home">
    <h1 class="font-extrabold h1-desktop w-80">This is astro This is astro This is astro </h1>
  </Layout>
</html>
