---
import { type ExperienceItem } from "../types";

interface Props {
  experienceList: ExperienceItem[];
}

const { experienceList } = Astro.props;
---

<ol class="relative border-s border-accent dark:border-gray-700">
  {
    experienceList.map((experience) => (
      <li class="mb-12 ms-4">
        <div class="absolute w-3 h-3 bg-accent rounded-full mt-1.5 -start-1.5 border-white" />
        <div class="flex flex-row items-center space-x-6">
          <h3 class="text-2xl text-primary font-bold md:text-3xl">{experience.company}</h3>
          <time class="text-lg font-normal leading-none text-slate-500 md:text-xl">
            {experience.year}
          </time>
        </div>
        <h3 class="text-xl font-bold text-secondary-hover mb-3.5 md:text-2xl">{experience.role}</h3>
        <ul class="font-normal text-lg md:text-xl">
          {experience.tasks.map((task) => (
            <li class="list-disc ml-4 text-slate-600">{task}</li>
          ))}
        </ul>
      </li>
    ))
  }
</ol>
