---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="bg-gray-800 text-white fixed top-0 w-full shadow-xl">
  <div class="flex flex-row max-w-7xl w-full mx-auto py-2 justify-around">
    <div class="flex text-4xl border border-white rounded-xl p-2">RP</div>
    <div class="flex flex-row justify-center items-center">
      <nav class="align-middle space-x-4 text-xl">
        <a href="#hero">{t("nav.home")}</a>
        <a href="#skills">{t("nav.skills")}</a>
        <a href="#projects">{t("nav.experience")}</a>
        <a href="#experience">{t("nav.projects")}</a>
        <a href="#contact">{t("nav.contact")}</a>
      </nav>
    </div>
    <div class="flex">
      <LanguagePicker />
    </div>
  </div>
</div>
