---
import NavList from "./NavList.astro";
import LanguageSelector from "./LanguageSelector.astro";

let isMobile = true;
---

<nav
  class="flex flex-row w-full max-w-5xl items-center justify-between p-4 shadow-lg"
>
  <div class="text-primary font-extrabold">LOGO</div>
  {!isMobile && <NavList />}
  <LanguageSelector />
</nav>
