---
import { Icon } from "astro-icon/components";

import NavList from "./NavList.astro";
import LanguageSelector from "./LanguageSelector.astro";
import MenuButton from "./MenuButton.astro";

let isMobile = true;

const menuItems = [
  { name: "Home", href: "#home" },
  { name: "Experience", href: "#experience" },
  { name: "Work", href: "#work" },
  { name: "Skills", href: "#skills" },
  { name: "Contact", href: "#contact" },
];
---

<nav
  class="flex flex-row w-full max-w-5xl items-center justify-between p-4 bg-white shadow-lg fixed z-20 top-0 start-0 border-b border-gray-200 "
>
<Icon name="portfolio-logo" class="w-20 h-auto"></Icon>
  {!isMobile && <NavList items={menuItems} />}
  <div class="flex flex-row items-center space-x-3">
    <LanguageSelector />
    <MenuButton items={menuItems} />
  </div>
</nav>
