---

---

<section id="hero" class="h-screen bg-red-400 pt-20">
  <div class="m-12 p-6 bg-white rounded-3xl">
    <div class="flex flex-row">
      <div>
        <img class="h-auto w-96" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fuser-png-icon-young-user-icon-2400.png&f=1&nofb=1&ipt=33953004bf1961578f206cc80f3ef6ab9cb59af1a896e8995d00c30e2a18104b&ipo=images" alt="Roy Palomino Rojas - web dev">
      </div>
      <div>
        <h1>Hola, me llamo Roy</h1>
        <h2>Soy desarrollador Web Full Stack 🚀</h2>
      </div>
    </div>
    <hr class="text-black stroke-black bg-black">
    <div>
      blah
    </div>
  </div>
</section>
