---
import { type NavItem } from "../types";

interface Props {
  items: NavItem[];
}

const { items } = Astro.props;
---

<nav class="flex flex-row">
  <ul class="flex flex-row">
    {
      items.map((item) => (
        <li>
          <a href={item.href}>{item.name}</a>>
        </li>
      ))
    }
  </ul>
</nav>
