---
import { Icon } from "astro-icon/components";

interface ProgrammingLanguage {
  name: string;
  icon: string;
}

interface Props {
  title: string;
  languages: Array<ProgrammingLanguage>;
}

const { title, languages } = Astro.props;
---

<div class="flex flex-col border border-gray-300 rounded-2xl shadow-md max-w-md">
  <div class="py-8 px-10">
    <h3 class="text-secondary text-4xl text-center font-bold">{title}</h3>
  </div>
  <div class="py-6 px-10">
    <ul class="flex flex-wrap flex-row gap-5 justify-between">
      {
        languages.map((lang) => (
          <li class="flex flex-col">
            <Icon class="size-20" name={lang.icon} />
            <span class="text-center text-slate-500 text-lg font-semibold mt-1 mb-2">{lang.name}</span>
          </li>
        ))
      }
    </ul>
  </div>
</div>
