---

---

<section id="skills" class="h-screen bg-blue-400 pt-20">
  <h1 class="text-5xl text-gray-800">
    My skills:
    <ul>
      <li>Tailwind</li>
      <li>Typescript</li>
      <li>React</li>
      <li>Astro</li>
    </ul>
  </h1>
</section>
