---
interface Props {
  url: string;
  name: string;
}

const { url, name } = Astro.props;
---

<a
  class="text-white px-4 py-1.5 bg-transparent font-bold rounded-[32px] border-2 border-white lg:text-xl lg:px-6"
  href={url}
  target="_blank"
>
  {name}
</a>
