---
import { useTranslations, getLangFromUrl } from "../i18n/utils";

import SocialPill from "../components/SocialPill.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const socials = [
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/roy-palomino-rojas-6770a9184/",
  },
  {
    name: "GitHub",
    url: "https://github.com/roy-palomino",
  },
  {
    name: "Facebook",
    url: "https://www.facebook.com/roy.palominorojas",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/roy_pr06",
  },
  {
    name: "Figma",
    url: "https://www.figma.com/@roypalominoroja",
  },
];
---

<div
  class="flex flex-col space-y-12 px-4 py-16 primary-gradient w-full items-center"
>
  <div class="inline-flex flex-col">
    <p class="text-smoke text-2xl md:text-xl md:text-center lg:text-left">
      {t("hero.myName")}
    </p>
    <h2
      class="text-white text-4xl md:text-5xl font-semibold lg:text-5xl"
    >
      Roy Palomino Rojas
    </h2>
  </div>
  <div class="text-smoke font-normal text-lg md:text-xl space-y-6 max-w-xl lg:max-w-3xl md:font-light">
    <p>{t("hero.iAm")}</p>
    <p>{t("hero.passionate")}</p>
    <p>{t("hero.curious")}</p>
  </div>
  <div class="flex flex-wrap gap-3 w-full max-w-xl md:justify-between lg:max-w-3xl">
    {
      socials.map((social) => (
        <SocialPill name={social.name} url={social.url} />
      ))
    }
  </div>
</div>
