---
import { useTranslations, getLangFromUrl } from "../i18n/utils";
import Container from "../components/SectionContainer.astro";

import ExperienceDisplayer from "../components/ExperienceDisplayer.astro";

import { type ExperienceItem } from "../types";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experienceList: ExperienceItem[] = [
  {
    company: "ANDAP",
    year: "2023 - 2024",
    role: t("role.fullstack"),
    tasks: [
      t("experience.first.1"),
      t("experience.first.2"),
      t("experience.first.3"),
      t("experience.first.4"),
    ],
  },

  {
    company: "CFOCAP",
    year: "2021 - 2023",
    role: t("role.fullstack"),
    tasks: [
      t("experience.second.1"),
      t("experience.second.2"),
      t("experience.second.3"),
      t("experience.second.4"),
      t("experience.second.5"),
    ],
  },
  {
    company: "Swing Latino",
    year: "2019 - 2020",
    role: t("role.fullstack"),
    tasks: [
      t("experience.third.1"),
      t("experience.third.2"),
      t("experience.third.3"),
    ],
  },
];
---

<Container id="experience" title={t("title.experience")} description={t("section.experience")} bgColorClass="bg-white">
  <div class="max-w-xl">
    <ExperienceDisplayer experienceList={experienceList} />
  </div>
</Container>
