---
import { Icon } from "astro-icon/components";

import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Button from "../components/Button.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col px-4 py-16 space-y-8">
  <div class="flex flex-col items-center space-y-8">
    <div class="flex flex-col items-center space-y-2">
      <span class="text-md font-semibold text-slate-400">{t("hero.hello")}</span
      >
      <h1 class="text-5xl font-extrabold text-primary">Roy Palomino</h1>
      <p class="text-4xl font-extrabold text-secondary">{t("hero.webDev")}</p>
    </div>
    <Icon class="size-52" name="avatar" />
    <div class="flex flex-col items-center space-y-4">
      <Icon class="w-80 h-auto" name="devices" />
      <Button text={t("button.downloadCV")} variant="primary" />
    </div>
  </div>
</div>
