---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";

const { title } = Astro.props;
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "light";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body
    class="relative h-full w-full bg-white bg-gradient-to-b from-sky-50 from-10% via-white via-80% to-cyan-100"
  >
    <div>
      <div
        class="absolute inset-0 -z-10 h-full w-full bg-transparent bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:4rem_4rem]"
      >
        <div
          class="absolute bottom-0 left-0 right-0 top-10 bg-[radial-gradient(circle_700px_at_50%_200px,#7dd3fc,transparent)]"
        >
        </div>
      </div>
      <div>
        <Header />
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", system-ui, sans-serif;
  }
</style>
